
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.page__info{
    display: flex;
    flex-direction: column;
     
    justify-content: center;
    align-items:center
}

.page__login{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
